In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/jupyter/beanstock/data/communes-departement-region.csv', dtype={'code_postal': str})
df = df[['code_postal', 'latitude', 'longitude']]
#df.drop(df.columns[0], axis=1, inplace=True)
#df.columns = ['code_postal', 'ville', 'pieces', 'chambres', 'superficie', 'loyer']

In [3]:
df

      code_postal   latitude  longitude
0            1400  46.153426   4.926114
1            1640  46.009188   5.428017
2            1500  45.960848   5.372926
3            1330  45.996180   4.912273
4            1300  45.749499   5.594320
...           ...        ...        ...
39196       98883        NaN        NaN
39197       98834        NaN        NaN
39198       98818        NaN        NaN
39199       98799        NaN        NaN
39200       98000        NaN        NaN

[39201 rows x 3 columns]

In [4]:
df.dtypes

code_postal     object
latitude       float64
longitude      float64
dtype: object

In [5]:
from google.cloud import bigquery
client = bigquery.Client()
client.load_table_from_dataframe(df, 'beanstock-313811.beanstock.codes_postaux')